.window-navigate {
    display: grid;

    border-radius: 5px;
    background-color: #ab8a8aa4;

    grid-template-rows: 10% 1fr;

    .navigation-list {
        display: grid;
        justify-content: center;

        grid-auto-rows: 30px;
        gap: 10px;

        a.navigation-link {
            display: block;

            width: 100%;
            height: 100%;

            text-align: center;

            color: black;
        }

        a.navigation-link:hover {
            color: #551a8b;
        }

        a.navigation-link:active {
            color: orange;
        }
    }
}
